IDP_INSTALLERCAB6          JAVA_CAB6       MOVEABLE PURE "sdMAJORVERSIONMINORVERSIONMICROVERSIONCOMPUPDATEVERSION.cab"
IDP_INSTALLERCAB7          JAVA_CAB7       MOVEABLE PURE "sjMAJORVERSIONMINORVERSIONMICROVERSIONCOMPUPDATEVERSION.cab"
IDP_INSTALLERCAB8          JAVA_CAB8       MOVEABLE PURE "spMAJORVERSIONMINORVERSIONMICROVERSIONCOMPUPDATEVERSION.cab"
IDP_INSTALLERCAB9          JAVA_CAB9       MOVEABLE PURE "ssMAJORVERSIONMINORVERSIONMICROVERSIONCOMPUPDATEVERSION.cab"
IDP_INSTALLERCAB10         JAVA_CAB10      MOVEABLE PURE "stMAJORVERSIONMINORVERSIONMICROVERSIONCOMPUPDATEVERSION.cab"
IDP_INSTALLERCAB11         JAVA_CAB11      MOVEABLE PURE "szMAJORVERSIONMINORVERSIONMICROVERSIONCOMPUPDATEVERSION.cab"
IDP_INSTALLERCAB12         JAVA_CAB12      MOVEABLE PURE "sbMAJORVERSIONMINORVERSIONMICROVERSIONCOMPUPDATEVERSION.cab"
IDP_INSTALLERCAB13         JAVA_CAB13      MOVEABLE PURE "srMAJORVERSIONMINORVERSIONMICROVERSIONCOMPUPDATEVERSION.cab"
#ifdef COBUNDLE
IDP_COBUNDLE_MSI         JAVA_COBUNDLE_MSI      MOVEABLE PURE "javafx-sdk.msi"
IDP_COBUNDLE_CAB         JAVA_COBUNDLE_CAB      MOVEABLE PURE "disk1.cab"
#endif
