//
// @(#)launcher.rc	1.1 08/08/19
//

#include "afxres.h"


#define MANIFEST_RESOURCE_ID 1

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

MANIFEST_RESOURCE_ID RT_MANIFEST "launcher.exe.manifest"         

/////////////////////////////////////////////////////////////////////////////


